{% extends "base.html" %}

{% block stylesheets %}
  {{ super() }}
  <style type="text/css">
    p.status {
      margin-top: 38px;
    }

    td a small {
      margin: 14px;
    }
  </style>
{% endblock %}

{% block body %}
  <!-- Application Container -->
  <div id="application" class="container">

    <!-- Page Title -->
    <div class="row">
      <div class="col-md-12">
        <div class="page-header">
          <h1 class="pull-left">
            ELMR Admin Utility <small>Application Status</small>
          </h1>

          <p class="status text-muted pull-right">
            Current Status &mdash;
            <i class="fa fa-circle status-icon"></i>
            <span class='status-text'>unknown</span>
          </p>

          <div class="clearfix"></div>
        </div>
      </div>
    </div><!-- end page title -->

    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
          <li class="active"><i class="fa fa-cogs"></i> Admin</a></li>
        </ol>
      </div>
    </div>

    <!-- Application Metrics -->
    <div class="row">

      <!-- Left Panel -->
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Database Tables</h3>
          </div>
          <div class="panel-body">
            <p>The database is currently at version <strong>{{ "%03i" % dbversion[2] }}</strong> migrated by the <small>{{ dbversion[0] }}</small> repository.</p>
          </div>
          <ul class="list-group">
            <li class="list-group-item">
              <span class="badge">{{ dbcounts["series"]|intcomma }}</span>
              <strong>Series</strong>: time series records ingested from BLS
            </li>
            <li class="list-group-item">
              <span class="badge">{{ dbcounts["records"]|intcomma }}</span>
              <strong>Series Records</strong>: individual data points for all series
            </li>
            <li class="list-group-item">
              <span class="badge">{{ dbcounts["ingests"]|intcomma }}</span>
              <strong>Ingestions</strong>: records the use of the BLS API
            </li>
            <li class="list-group-item">
              <span class="badge">{{ dbcounts["states_series"]|intcomma }}</span>
              <strong>State Series</strong>: time series associated with states
            </li>
          </ul>
        </div>
      </div><!-- end left panel -->

      <!-- Right Panel -->
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Current Status</h3>
          </div>
          <div class="panel-body">
            <p>Application status is updated every minute.</p>
          </div>
          <table class="table table-striped table-hover">
            <tbody>
              <tr>
                <td>ELMR Version</td>
                <td>
                  <span class="status-version">unknown</span>
                  <a id="version-repo" class="hidden" href="#">
                    <small><i class="fa fa-github"></i> view on Github</small>
                  </a>
                </td>
              </tr>
              <tr>
                <td>ELMR Status</td>
                <td class="status text-muted">
                  <i class="fa fa-circle status-icon"></i>
                  <span class="status-text">unknown</span>
                  <span class="status-monthdelta">unknown</span>
                </td>
              </tr>
              <tr>
                <td>Last Ingestion</td>
                <td>
                  <span class="status-ingestion">unknown</span>
                </td>
              </tr>
              <tr>
                <td>Updated at</td>
                <td><span class="status-current">unknown</span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div><!-- end right panel -->
    </div><!-- end application metrics" -->

    <!-- Ingestion Log -->
    <div class="row">
      <div class="col-md-12">
        <h2>Ingestion Log</h2>

        <table id="ingestion-log" class="table table-striped table-hover">
          <thead>
            <th>#</th>
            <th>title</th>
            <th>version</th>
            <th>period</th>
            <th>num series</th>
            <th>rows added</th>
            <th>rows fetched</th>
            <th>started</th>
            <th>duration</th>
          </tead>
          <tbody>
            {% for ilr in ingestlog %}
            <tr>
              <td>{{ ilr.id }}</td>
              <td>{{ ilr.title }}</td>
              <td>{{ ilr.version }}</td>
              <td>
                {{ ilr.start_year.strftime('%b %Y') }}
                &mdash;
                {{ ilr.end_year.strftime('%b %Y') }}</td>
              <td>{{ ilr.num_series|intcomma }}</td>
              <td>{{ ilr.num_added|intcomma }}</td>
              <td>{{ ilr.num_fetched|intcomma }}</td>
              <td>{{ ilr.started.strftime('%b %d, %Y at %H:%S') }}</td>
              <td>{{ ilr.duration|naturaldelta }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div><!-- end ingestion log -->


    <!-- Administrative Utiltiies -->
    <div class="row">
      <div class="col-md-12">
        <h2>Administrative Utilities</h2>

        <div class="admin-controls" style="margin-top:20px;">
          <!-- Update Series Modal Button -->
          <button type="button" class="btn btn-default btn-sm"
                  data-toggle="modal" data-target="#seriesUpdateModal">
            <i class="fa fa-pencil"></i> Update Series Title
          </button>
        </div>
      </div>
    </div>


  </div><!-- application container ends -->
{% endblock %}

{% block modals %}
  {% include 'components/modals/series_update_form.html' %}
{% endblock %}

{% block javascripts %}
  {{ super() }}
  <script type="text/javascript">
    $(function() {

      var pollRate = 60000; // seconds
      var endpoint = "/api/status/";
      var statusClasses = {
        "white": "text-default",
        "green": "text-success",
        "yellow": "text-warning",
        "red": "text-danger"
      };

      function updateStatus() {

        $.get(endpoint)
          .success(function(data) {

            // Remove all text-* classes from the status
            $.each($(".status").attr("class").split(" "), function(idx, cls) {
              if (cls.indexOf("text-") == 0) {
                $(".status").removeClass(cls);
              }
            });

            // Handle timestamps
            var dtfmt = "MMMM Do YYYY, h:mm:ss a";
            var ingestts = moment(data.timestamps.ingestion);
            var currentts = moment(data.timestamps.current);
            var github = "https://github.com/bbengfort/jobs-report/releases/tag/v";

            // Set the status from the data
            $(".status").addClass(statusClasses[data.status]);
            $(".status-text").text(data.status.toUpperCase());
            $(".status-version").text(data.version);
            $(".status-ingestion").text(ingestts.format(dtfmt));
            $(".status-current").text(currentts.format(dtfmt));
            $(".status-monthdelta").text("(" + data.timestamps.monthdelta + " months since last ingestion)");

            $("#version-repo").attr("href", github + data.version);
            $("#version-repo").removeClass("hidden");

            // Update the status every minute
            setTimeout(updateStatus, pollRate);
          });

      }

      function resetSeriesUpdateForm() {
        // Reset the form on demand
        $("#sufMessage").text("");
        $("#seriesUpdateForm .form-group").removeClass("has-error");
        $("#blsidHelp").text("");
        $("#titleHelp").text("");
        $("#seriesUpdateModal button").removeAttr("disabled");
      }

      // Bind the update series modal close to reset the form
      $('#seriesUpdateModal').on('hidden.bs.modal', function (e) {
        resetSeriesUpdateForm();
        $("#seriesUpdateForm")[0].reset();
      });

      // Bind the Update Series Title Form
      $("#seriesUpdateForm").submit(function(e) {
        e.preventDefault();

        // Reset the form
        resetSeriesUpdateForm();

        var blsid = $("#sufblsid").val();
        var title = $("#sufTitle").val();
        var origt = "";

        // Disable Buttons and debug statement
        $("#seriesUpdateModal button").attr("disabled", "disabled");
        console.log("Update series " + blsid + " title to: " + title);

        var endpoint = "/api/series/" + blsid + "/";

        // Fetch the original data
        $.get(endpoint)
          .done(function(data) {

            origt = data.title;

            // Execute PUT
            $.ajax({
              url: endpoint,
              method: "PUT",
              data: {
                title: title
              }
            }).done(function(data) {

              // Reset the form
              resetSeriesUpdateForm();
              $("#seriesUpdateForm")[0].reset();

              // Add success message with original title and new title
              $("#sufMessage").text("Title for Series \"" + blsid + "\" updated from \"" + origt + "\" to \"" + data.title + "\"");


            }).fail(function(jqXHR, textStatus, errorThrown ) {

              status = jqXHR.status;
              if (status == 404) {
                  $("#blsidHelp").parents(".form-group").addClass("has-error");
                  $("#blsidHelp").text("Series with BLS ID \"" + blsid + "\" not found.");
              } else if (status == 400) {
                  $("#titleHelp").parents(".form-group").addClass("has-error");
                  $("#titleHelp").text("Not a valid title, title is required.");
              }

              $("#seriesUpdateModal button").removeAttr("disabled");

            });

          })
          .fail(function(jqXHR, textStatus, errorThrown) {

            status = jqXHR.status;
            if (status == 404) {
              $("#blsidHelp").parents(".form-group").addClass("has-error");
              $("#blsidHelp").text("Series with BLS ID \"" + blsid + "\" not found.");
            }

            $("#seriesUpdateModal button").removeAttr("disabled");

          });


        return false;
      });

      // Execute heartbeat update
      updateStatus();

    });
  </script>
{% endblock %}
