{% extends "base.html" %}

{% block stylesheets %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/d3.geomap.css') }}">
{% endblock %}

{% block body %}
  <!-- Loading Container -->
  <div id="loading" class="container show">
    <div class="row">
      <div class="col-sm-12">
        <img class="img-responsive"
             src="{{ url_for('static', filename='img/loader.gif') }}" title="Loading" alt="Loading Visualization ..." />
      </div>
    </div>

  </div><!-- end loading container -->

  <!-- Application Container -->
  <div id="application" class="container hidden">

    <!-- Tab controls -->
    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-tabs">
          <li role="presentation" class="active">
            <a href="#geography" data-toggle="tab" role="tab">
              <i class="fa fa-map-marker"></i> Geography
            </a>
          </li>
          <li role="presentation">
            <a href="#timeseries" data-toggle="tab" role="tab">
              <i class="fa fa-area-chart"></i> Time Series
            </a>
          </li>
          <li role="presentation">
            <a href="#wealthofnations" data-toggle="tab" role="tab">
              <i class="fa fa-diamond"></i> Wealth of Nations
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Tab panes -->
    <div class="tab-content">
      <!-- Geography Tab -->
      <div role="tabpanel" class="tab-pane active" id="geography">
        <!-- Headlines -->
        <div id="headlines" class="row">
          <div class="col-md-12">
            <div class="headline-wrapper">
              <!-- Left Headline -->
              <div id="left-headline" class="headline">
                  <div class="headline-number">5.5%</div>
                  <div class="headline-detail">
                    <p class="headline-label">
                      unemployment rate
                    </p>
                    <p class="headline-delta text-success">
                      <i class="fa fa-long-arrow-down"></i>
                      1.7%
                    </p>
                  </div>
              </div><!-- end left headline -->

              <!-- Right Headline -->
              <div id="right-headline" class="headline">
                <div class="headline-number">1.7M</div>
                <div class="headline-detail">
                  <p class="headline-label">
                    employment level
                  </p>
                  <p class="headline-delta text-success">
                    <i class="fa fa-long-arrow-up"></i>
                    295,000
                  </p>
                </div>
              </div><!-- end right headline -->
            </div><!-- end headline wrapper -->
          </div>
        </div><!-- end headlines -->

        <!-- Controls -->
        <div id="main-controls" class="row">
          <div class="col-md-12">
            <div class="controls">
              <form class="form-inline">
                <div class="form-group">
                  <label for="startDate">Start Date</label>
                  <div class="input-group">
                    <input type="text" class="form-control input-sm" id="startDate" />
                    <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                  </div>
                </div>
                <div class="form-slider">
                  <div id="year-range-slider"></div>
                </div>
                <div class="form-group">
                  <label for="endDate">End Date</label>
                  <div class="input-group">
                    <input type="text" class="form-control input-sm" id="endDate" />
                    <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div><!-- end controls -->

        <!-- 2 Column Visual Content -->
        <div class="row">

          <!-- Right Sidebar -->
          <div class="col-md-3">

            <div class="panel panel-default">

              <div class="panel-heading">
                <h3 class="panel-title">Current Dataset</h3>
              </div>
              <div class="panel-body">
                <!-- Dataset Selection Dropdown -->
                <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    Select Dataset for Map <span class="caret"></span>
                  </button>
                  <ul id="menuDataset" class="dropdown-menu" role="menu">
                    <li role="presentation" class="dropdown-header">LAUS</li>
                    <li><a href="/api/geo/laus/employment/" data-source="LAUS">Employment</a></li>
                    <li><a href="/api/geo/laus/labor-force/" data-source="LAUS">Labor Force</a></li>
                    <li><a href="/api/geo/laus/unemployment/" data-source="LAUS">Unemployment</a></li>
                    <li><a href="/api/geo/laus/unemployment-rate/" data-source="LAUS">Unemployment Rate</a></li>
                    <li class="divider"></li>
                    <li role="presentation" class="dropdown-header">CES - States</li>
                    <li><a href="/api/geo/CESSM/total-nonfarm/" data-source="CES - States">Total Nonfarm</a></li>
                    <li><a href="/api/geo/CESSM/information/" data-source="CES - States">Information</a></li>
                    <li><a href="/api/geo/CESSM/leisure-and-hospitality/" data-source="CES - States">Leisure and Hospitality</a></li>
                    <li><a href="/api/geo/CESSM/mining-logging-and-construction/" data-source="CES - States">Mining, Logging, and Construction</a></li>
                    <li><a href="/api/geo/CESSM/durable-goods/" data-source="CES - States">Durable Goods</a></li>
                    <li><a href="/api/geo/CESSM/transportation-warehousing-and-utilities/" data-source="CES - States">Transportation, Warehousing, and Utilities</a></li>
                    <li><a href="/api/geo/CESSM/financial-activities/" data-source="CES - States">Financial Activities</a></li>
                    <li><a href="/api/geo/CESSM/trade-transportation-and-utilities/" data-source="CES - States">Trade, Transportation, and Utilities</a></li>
                    <li><a href="/api/geo/CESSM/manufacturing/" data-source="CES - States">Manufacturing</a></li>
                    <li><a href="/api/geo/CESSM/construction/" data-source="CES - States">Construction</a></li>
                    <li><a href="/api/geo/CESSM/mining-and-logging/" data-source="CES - States">Mining and Logging</a></li>
                    <li><a href="/api/geo/CESSM/education-and-health-services/" data-source="CES - States">Education and Health Services</a></li>
                    <li><a href="/api/geo/CESSM/non-durable-goods/" data-source="CES - States">Non-Durable Goods</a></li>
                    <li><a href="/api/geo/CESSM/professional-and-business-services/" data-source="CES - States">Professional and Business Services</a></li>
                    <li><a href="/api/geo/CESSM/government/" data-source="CES - States">Government</a></li>
                    <li><a href="/api/geo/CESSM/other-services/" data-source="CES - States">Other Services</a></li>
                  </ul>
                </div>
              </div>
              <table class="table">
                <tr>
                  <td><strong>Source</strong></td>
                  <td id="datasetSource">LAUS</dd>
                </tr>
                <tr>
                  <td><strong>Dataset</strong></td>
                  <td id="datasetName">Unemployment Rate</td>
                </tr>
              </table>
            </div>

          </div><!-- end right sidebar -->

          <!-- Main Visual Content -->
          <div class="col-md-9">
            <div class="panel panel-default">
              <div class="panel-body">
                <div id="map"></div>
              </div>
            </div>

          </div><!-- end main visual content -->

        </div><!-- end 2 column visual content -->
      </div><!-- end geography tab -->

      <!-- TimeSeries Tab -->
      <div role="tabpanel" class="tab-pane" id="timeseries">
        <div class="well" style="margin-top: 20px;">
          <p class="lead text-center">Coming Soon!</p>
        </div>
      </div><!-- end timeseries tab -->

      <!-- Wealth of Nations Tab -->
      <div role="tabpanel" class="tab-pane" id="wealthofnations">
        <div class="well" style="margin-top: 20px;">
          <p class="lead text-center">Coming Soon!</p>
        </div>
      </div><!-- end wealth of nations tab -->
    </div>

  </div><!-- end application container -->
{% endblock %}


{% block javascripts %}
  {{ super() }}
  <!-- D3 Dependencies -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js" charset="utf-8"></script>
  <script src="{{ url_for('static', filename='js/d3.geomap.dependencies.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/d3.geomap.min.js') }}"></script>

  <!-- Application -->
  <script type="text/javascript">
    $(function() {

      /*************************************************************************
      ** Initialization
      *************************************************************************/

      // Important Variables
      var dateFmt = "MMM YYYY"
      var dataUrl = "/api/source/cps/";
      var data    = null;    // holder for the CPS data

      var map       = null;  // The D3 Chloropeth map object
      var minDate   = null;  // lower boundary of the period (moment obj)
      var maxDate   = null;  // upper boundary of the period (moment obj)
      var period    = null;  // the period of data (moment-range obj)
      var startDate = null;  // the start of the current range in the slider
      var endDate   = null;  // the end of the current range in the slider

      $.get(dataUrl)
        .success(function(d) {
          data = d;

          console.log("Fetched data from " + dataUrl);
          console.log("Analysis period: " + data.period.start + " to " + data.period.end);

          // Initialize the analytical period from the data
          minDate = moment(data.period.start, dateFmt);
          maxDate = moment(data.period.end, dateFmt);
          period  = moment.range(minDate, maxDate);

          startDate = moment(maxDate);       // clone date
          startDate.subtract(18, "months");  // subtract 18ddd months

          endDate = moment(maxDate);         // clone date

          // Initialize the Start and End Date inputs
          updateDateFields();

          // Initialize Year Range Slider
          $("#year-range-slider").slider({
            range: true,
            min: 0,                     // min is the zeroth value of the period
            max: period.diff("months"), // max is the number of months in the period
            values: [getMonthInPeriod(startDate), getMonthInPeriod(endDate)],
            slide: function(event, ui) {
              startDate = getMonthFromPeriod(ui.values[0]);
              endDate = getMonthFromPeriod(ui.values[1]);
              updateDateFields();
            }
          });

          var topo = "{{ url_for('static', filename='data/topojson/countries/USA.json') }}";
          var geodata = "/api/geo/laus/unemployment-rate/";


          // Initialize the Map
          map = d3.geomap.choropleth()
            .geofile(topo)
            .colors(colorbrewer.YlOrRd[7]) // See http://bl.ocks.org/mbostock/5577023 for colors
            .projection(d3.geo.albersUsa)
            .column(endDate.format(dateFmt))
            .unitId('fips')
            .scale(1000)
            .legend(true)
            .translate([455, 250]);

          // Bind window resize to the draw map function
          $(window).resize(function(e) {
            drawMap();
          });

          console.log("Fetching data for chloropeth map ...");
          // Load the CSV data for the map
          d3.csv(geodata, function(error, data) {
              d3.select('#map')
                  .datum(data);

              // Turn off the loader and indicate application started
              toggleLoading(false, function() {
                drawMap(); // Draw the map
                console.log("ELMR Application Started");
              });
          });

        });

      /*************************************************************************
      ** Helper Functions
      *************************************************************************/

      /*
       * Redraw the chlorpeth map on demand.
       */
      function drawMap() {
        // Set the width of the map equal to the width of the container
        var width = $("#map").width();
        map.width(width);

        // Empty the map div of the old map
        $("#map").empty();

        // Draw the map inside the map div
        d3.select('#map')
          .call(map.draw, map);
      }

      /*
       * Select handler for getting new data for the map.
       */
      $("#menuDataset li a").click(function(e) {
        e.preventDefault();
        var a = $(e.target);
        var href = a.attr('href');
        var name = a.text();
        var source = a.data().source;

        $("#menuDataset").dropdown("toggle");

        $("#datasetSource").html("Loading &hellip;");
        $("#datasetName").html("Loading &hellip;");

        d3.csv(href, function(error, data) {
            d3.select('#map').datum(data);
            drawMap();

            $("#datasetSource").text(source);
            $("#datasetName").text(name);
        });

        return false;
      });

      /*
      * Gets the month number in the period of the app.
      * If the date isn't within the period, returns null.
      * Use this function for setting the slider.
      */
      function getMonthInPeriod(date) {
        if (!date.within(period)) {
          return null;
        }

        return moment.range(minDate, date).diff("months");
      }

      /*
       * Returns a moment object from a month number in the period of the app.
       * Use this function for getting dates from the slider.
       */
      function getMonthFromPeriod(num) {
        var date = moment(minDate)
        date.add(num, "months");
        return date;
      }

      /*
       * Sets the start and end text fields from the start and end dates.
       */
      function updateDateFields() {
        $("#startDate").val(startDate.format(dateFmt));
        $("#endDate").val(endDate.format(dateFmt));

        // Update the headlines based on the date fields
        updateHeadlines();

        // Update the map to the current year
        if (map) {
          map.column(endDate.format(dateFmt));
          drawMap();
        }
      }

      /*
       * Computes headline information and updates fields.
       */
      function updateHeadlines() {
        var sd = data.data[getMonthInPeriod(startDate)];
        var ed = data.data[getMonthInPeriod(endDate)];

        // Handle unemployment (left headline)
        var lh = $("#left-headline");
        lh.find(".headline-number").text(ed.LNS14000000 + "%");

        var unempDiff = (ed.LNS14000000 - sd.LNS14000000).toFixed(3);
        var p = lh.find(".headline-delta");
        if (unempDiff > 0) {
          p.html($('<i class="fa fa-long-arrow-up"></i>'))
          p.removeClass("text-success").addClass("text-danger");
        } else {
          p.html($('<i class="fa fa-long-arrow-down"></i>'))
          p.removeClass("text-danger").addClass("text-success");
        }
        p.append("&nbsp;" + Math.abs(unempDiff) + "%");

        // Handle # nonfarm jobs (right headline)
        var rh = $("#right-headline");
        rh.find(".headline-number").text(Math.round(ed.LNS12000000 / 1000) + "K");

        var jobsDiff = ed.LNS12000000 - sd.LNS12000000;
        p = rh.find(".headline-delta");
        if (jobsDiff > 0) {
          p.html($('<i class="fa fa-long-arrow-up"></i>'))
          p.removeClass("text-danger").addClass("text-success");
        } else {
          p.html($('<i class="fa fa-long-arrow-down"></i>'))
          p.removeClass("text-success").addClass("text-danger");
        }
        p.append("&nbsp;" + Math.abs(jobsDiff));
      }

      /*
       * Toggles the loader if data needs to be reloaded for some reason.
       * Pass isLoading (true or false) to toggle loading on or off, and
       * a function for when the toggle is complete to be called after.
       */
      function toggleLoading(isLoading, complete) {
        // Set the effects here
        var appEffect = "fade";
        var ldrEffect = "drop";

        // Reset Bootstrap Hidden with jQuery Hide
        $(".hidden").hide().removeClass("hidden");
        $(".show").show().removeClass("show");

        if (isLoading) {

          // show loader gif and hide content
          $("#application").hide(appEffect, 1000, function() {
              $("#loading").show(ldrEffect, 200, complete);
            });

        } else {

          // hide the loader gif and show content
          $("#loading").hide(ldrEffect, 1000, function() {
              $("#application").show(appEffect, 200, complete);
            });

        }
      }

    });
  </script>
{% endblock %}
