{% extends "base.html" %}

{% block stylesheets %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/d3.geomap.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/colorbrewer.css') }}">
{% endblock %}

{% block body %}
  <!-- Application Container -->
  <div id="application" class="container">

    <!-- Tab controls -->
    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-tabs">
          <li role="presentation" class="active">
            <a href="#timeseries" data-toggle="tab" role="tab">
              <i class="fa fa-area-chart"></i> Time Series
            </a>
          </li>

          <li role="presentation">
            <a href="#geography" data-toggle="tab" role="tab">
              <i class="fa fa-globe"></i> Geography
            </a>
          </li>

          <li role="presentation">
            <a href="#wealthofnations" data-toggle="tab" role="tab">
              <i class="fa fa-diamond"></i> Wealth of Nations
            </a>
          </li>

          <li role="presentation">
            <a href="#dataexport" data-toggle="tab" role="tab">
              <i class="fa fa-download"></i> Export Data
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Tab panes -->
    <div class="app-tabs tab-content">

      <!-- TimeSeries Tab -->
      <div role="tabpanel" class="tab-pane active" id="timeseries">
        {% include 'application/timeseries.html' %}
      </div><!-- end timeseries tab -->

      <!-- Geography Tab -->
      <div role="tabpanel" class="tab-pane" id="geography">
        {% include 'application/geography.html' %}
      </div><!-- end geography tab -->

      <!-- Wealth of Nations Tab -->
      <div role="tabpanel" class="tab-pane" id="wealthofnations">
        {% include 'application/wealthofnations.html' %}
      </div><!-- end wealth of nations tab -->

      <!-- Data Export Tab -->
      <div role="tabpanel" class="tab-pane" id="dataexport">
        {% include 'application/dataexport.html' %}
      </div><!-- end wealth of nations tab -->

    </div>

  </div><!-- end application container -->

{% endblock %}


{% block javascripts %}
  {{ super() }}

  <!-- D3 Dependencies -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js" charset="utf-8"></script>
  <!-- <script src="{{ url_for('static', filename='js/libs/d3.min.js') }}" charset="utf-8"></script> -->

  <!-- Utilities -->
  <script src="{{ url_for('static', filename='js/utils.js') }}"></script>

  <!-- D3 only applications -->
  <script src="{{ url_for('static', filename='js/tsapp.js') }}"></script>
  <script src="{{ url_for('static', filename='js/wonapp.js') }}"></script>
  <script src="{{ url_for('static', filename='js/exportapp.js') }}"></script>

  <!-- Geomap Applications -->
  <script src="{{ url_for('static', filename='js/d3.geomap.dependencies.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/d3.geomap.min.js') }}"></script>

  <script src="{{ url_for('static', filename='js/geoapp.js') }}"></script>

{% endblock %}
