{% extends "base.html" %}

{% block stylesheets %}
  {{ super() }}
  <style type="text/css">
    /* Insert Custom Styles Here */

  </style>
{% endblock %}

{% block body %}
  <!-- Application Container -->
  <div id="application" class="container">


    <!-- Page Title -->
    <div class="row">
      <div class="col-md-12">
        <div class="page-header">
          <h1>Benjamin's Page <small>Application Development</small></h1>
        </div>
      </div>
    </div><!-- end page title -->

    <!-- Main Content -->
    <div class="row">
      <div class="col-md-12">

        <!-- Insert HTML here -->

      </div>
    </div><!-- end main content -->

  </div><!-- application container ends -->
{% endblock %}

{% block javascripts %}
  {{ super() }}
  <script type="text/javascript">
    $(function() {

      // Add JavaScripts Here

    });
  </script>
{% endblock %}
