  <!-- Time Series Application Container -->
  <div id="timeSeriesApplication" class="subapp">

    <!-- Headlines -->
    <div id="headlines" class="row">
      <div class="col-md-offset-3 col-md-9">
        <div class="headline-wrapper">
          <!-- Left Headline -->
          <div id="left-headline" class="headline">
              <div class="headline-number">&mdash;</div>
              <div class="headline-detail">
                <p class="headline-label">
                  unemployment rate
                </p>
                <p class="headline-delta text-success">
                  <i class="fa fa-long-arrow-down"></i>
                  &mdash;
                </p>
              </div>
          </div><!-- end left headline -->

          <!-- Right Headline -->
          <div id="right-headline" class="headline">
            <div class="headline-number">&mdash;</div>
            <div class="headline-detail">
              <p class="headline-label">
                employment level
              </p>
              <p class="headline-delta text-success">
                <i class="fa fa-long-arrow-up"></i>
                &mdash;
              </p>
            </div>
          </div><!-- end right headline -->
        </div><!-- end headline wrapper -->
      </div>
    </div><!-- end headlines -->

    <!-- Year Slider Controls -->
    <div class="row">
      <div class="col-md-offset-3 col-md-9">
        <form id="formTSExplorerPeriodRange" class="year-range-selector">
          <div class="row">
            <div class="col-md-3">
              <div class="input-group">
                <input type="text" class="form-control year-display" />
                <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
              </div>
            </div>
            <div class="col-md-6">
              <div id="sliderTSExplorerPeriodRange" class="year-slider"></div>
            </div>
            <div class="col-md-3">
              <div class="input-group">
                <input type="text" class="form-control year-display" />
                <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

    <!-- Upper Time Series View -->
    <div class="row">
      <!-- Left Sidebar -->
      <div class="col-md-3">
        {% set control_header="Upper Timeseries Controls" %}
        {% set control_prefix="upper" %}
        {% include 'components/series-controls.html' %}
      </div><!-- left sidebar ends -->

      <!-- Right Column Main Content -->
      <div class="col-md-9">

        <!-- Top Time Series -->
        <div class="panel panel-default">
          <div class="panel-body">
            <div id="upperSeriesView" class="series-view"></div>
          </div>
        </div>

      </div><!-- right column ends -->
    </div>

    <!-- Lower Time Series View -->
    <div class="row">
      <!-- Left Sidebar -->
      <div class="col-md-3">
        {% set control_header="Lower Timeseries Controls" %}
        {% set control_prefix="lower" %}
        {% include 'components/series-controls.html' %}
      </div><!-- left sidebar ends -->

      <!-- Right Column Main Content -->
      <div class="col-md-9">

        <!-- Bottom Time Series -->
        <div class="panel panel-default">
          <div class="panel-body">
            <div id="lowerSeriesView" class="series-view"></div>
          </div>
        </div>

      </div><!-- right column ends -->
    </div>

  </div><!-- Time Series Application Ends -->
