
<!-- Wealth of Nations Application Container -->
<div id="wealthofnationsApplication" class="subapp">

  <!-- Year slider control -->
  <div class="row">
    <div class="col-md-offset-3 col-md-9">
      <form class="year-selector" id="formWealthOfNationsPeriodRange">
        <div class="row">
          <div class="col-md-9">
            <div id="sliderWealthOfNationsPeriodRange" class="year-slider"></div>
          </div>
          <div class="form-group">
            <div class="col-md-3">
              <div class="input-group">
                <input type="text" class="form-control year-display" />
                <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">

      <!-- Info box -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Visualization Controls</h3>
        </div>
        <div class="panel-body">
          <p>The Wealth of Nations visualization, inspired by Hans Rosling's
             <a href="http://www.ted.com/talks/hans_rosling_shows_the_best_stats_you_ve_ever_seen?language=en">2006 TED Talk</a>
             represents CPS data for 50 states in 5 dimensions:</p>
          <ul class="list-unstyled">
            <li><strong>X-Axis</strong>: size of the labor force</li>
            <li><strong>Y-Axis</strong>: the unemployment rate</li>
            <li><strong>Radius</strong>: the number employed</li>
            <li><strong>Color</strong>: economic region</li>
            <li><strong>Time</strong>: drag the slider to animate</li>
          </ul>

          <p class="text-muted">Coming soon is the ability to change the dimensions of the chart</p>
        </div>
      </div>

    </div>


    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-body">
          <div id="wealthofnationsChart"></div>
        </div>
      </div>

    </div>
  </div>

</div><!-- wealth of nations application ends -->
