
<!-- Wealth of Nations Application Container -->
<div id="wealthofnationsApplication" class="subapp">

  <!-- Year slider control -->
  <div class="row">
    <div class="col-md-offset-3 col-md-9">
      <form class="year-selector" id="formWealthOfNationsPeriodRange">
        <div class="row">
          <div class="col-md-9">
            <div id="sliderWealthOfNationsPeriodRange" class="year-slider"></div>
          </div>
          <div class="form-group">
            <div class="col-md-3">
              <div class="input-group">
                <input type="text" class="form-control" />
                <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-body">
          <div id="wealthofnationsChart"></div>
        </div>
      </div>

    </div>
  </div>

</div><!-- wealth of nations application ends -->
