/* Styles for our D3 app */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
  font-family: 'Open Sans', sans-serif;
}

/*body {
  padding-top: 70px;
}*/

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -76px;
  /* Pad bottom by footer height */
  padding: 0 0 106px;
}

.navbar-brand-img {
    width: 22px;
    height: 22px;
    float: left;
    margin: -3px 4px 0 0;
}

/* Set the fixed height of the footer here */
#footer {
    background-color: #fff;
    border-top: 1px solid #eee;
    height: 76px;
    padding: 30px 15px;
}

.app-tabs .tab-pane {
    margin-top: 20px;
}

#loading img {
    margin: 200px auto;
}

/* Headlines */

.headline-wrapper {
    display: block;
    margin: 0 auto;
    width: 650px;
}

.headline, .headline > div {
    display: inline-block;
}

.headline-number {
    font-size: 4em;
    font-weight: bold;
}

.headline-detail {
    padding: 0px 16px;
    font-size: 1.3em;
}

.headline-detail p {
    padding: 0;
    margin: -2px 0;
    font-variant: small-caps;
}

.headline-delta {
    font-weight: bold;
}

/* Controls */

#main-controls {
    margin: 20px;
}

#main-controls .form-group {
    width: 25%;
}

.form-slider {
    display: inline-block;
    width: 48%;
    padding: 0 10px;
}

/* Charts */

.series-view {
min-height: 300px;
}

#wealthofnationsChart {
  min-height: 506px;
}

/* D3 Styles */

.axis path,
.axis line {
fill: none;
stroke: #000;
shape-rendering: crispEdges;
}

.x.axis path {
display: none;
}

.line {
fill: none;
stroke: steelblue;
stroke-width: 1.5px;
}

text {
  font: 10px sans-serif;
}

.dot {
  stroke: #000;
}

.label {
  fill: #777;
}

.year.label {
  font: 500 128px "Helvetica Neue";
  fill: #ddd;
}

.year.label.active {
  fill: #aaa;
}

.overlay {
  fill: none;
  pointer-events: all;
  cursor: ew-resize;
}

/* ColorBrewer Stuff */

.swatch div {
    float: left;
    width: 22px;
    height: 16px;
}

.swatch {
    clear: left;
    min-height: 22px;
    margin-top: 2px;
}
